@{
    ViewData["Title"] = "East Coast Administration";
}

<div class="text-center">
    <h3>Administration för Eastcoastskolan</h3>
    <h3>@Html.ActionLink("Kurser","Index","Courses")</h3>
    <h3>@Html.ActionLink("Lärare","Index","Teachers")</h3>
    <h3>@Html.ActionLink("Studenter","Index","Students")</h3>
</div>
