@model EastCoastAdmin.Models.CourseViewModel

@{
    ViewData["Title"] = "Editera kurs";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.CourseId)
@*            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label"></label>
                <input asp-for="CourseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseTitle" class="control-label"></label>
                <input asp-for="CourseTitle" class="form-control" />
                <span asp-validation-for="CourseTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseLength" class="control-label"></label>
                <input asp-for="CourseLength" class="form-control" />
                <span asp-validation-for="CourseLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDetails" class="control-label"></label>
                <input asp-for="CourseDetails" class="form-control" />
                <span asp-validation-for="CourseDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" onClick="this.form.submit(); this.disabled=true; this.value='Sparar…'; " />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Tillbaka till kurslistan", "Index", "Courses")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
